.gallery-item img {
  border-radius: 30px;
}
#eyes .gallery-item {
  width: auto;
}
#eyes .gallery-item2 {
  width: 386px;
}
.gallery-item2 img {
  border-radius: 30px;
}

#eyes .gallery-title {
  font-family: Plus Jakarta Sans;
  font-size: 65px;
  font-weight: 600;
}

.image1 img {
  max-width: 658px;
  height: 671px;
}

.image2 img {
  max-width: 386px;
  height: 324px;
}
.gallery-container{
    width: 100%;
}
