@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.home-img {
  background-image: url("ressources/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
}
.nav {
  padding-top: 17px;
  display: flex;
  justify-content: center;
}

.nav .underline hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 1;
  margin: 0;
}
.drop-hr{
  border: none;
  height: 2px;
  background-color: #fff;
  opacity: 1;
  margin:  14px ;
}

.logo {
  margin-right: 50px;
}

.nav-link {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* hover  */
.nav-link:hover {
  color: #fff;
}
.example07 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.example07 a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #e30a17;
  bottom: -4px;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: center top;
}
.example07 a:hover::after {
  transform: scale(0.5, 0.5);
}
.navbar-toggler{
  border: none;
}
button:focus:not(:focus-visible){
  box-shadow: none;
}
.dropdown-menu{
  border-radius: 7px;
background: linear-gradient(108deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.07) 100%);
backdrop-filter: blur(6.5px);
}
.nav-link:focus{
  color: #fff;
}

.menu-connect{
  right: -70px;
}

.menu-connect a{
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-connect a:hover{
  background: none;
  color: #fff;
}


.navbar-collapse{
  transition: all 0.2s ease-in-out;
}

.sun{
  fill: #FFDA16;
}
/* !home  */
.txt-home {
  margin-top: 150px;
  box-shadow: none;
}

.titre-home {
  margin-bottom: 30px;
  max-width: 751px;
}

.titre-home h1 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 85.333px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.5%; /* 70.224px */
}
.para-home {
  margin-bottom: 50px;
  max-width: 703px;
}
.para-home P {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-home a {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: #e30a17;
  padding: 14px 27px;
}
.metteo {
  margin-top: -120px;
}
.exter {
  border-radius: 55px;
  background: rgba(236, 237, 231, 0.62);
  padding: 15px 26px;
}
.inter {
  border-radius: 43.5px;
  background: #2f2f2f;
  padding: 26px;
}

.metteo h6 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.metteo img {
  margin: 30px 0px;
}



@media only screen and (max-width: 1500px) {
  .titre-home {
    margin-bottom: 30px;
    max-width: 591px;
  }

  .titre-home h1 {
    font-size: 67.2px;
  }
  .para-home {
    margin-bottom: 40px;
    max-width: 553px;
  }
  .para-home P {
    font-size: 25.2px;
  }

  .btn-home a {
    font-size: 18.9px;
    padding: 11px 21px;
  }
}

@media only screen and (max-width: 1365px) {
  .logo {
    margin-right: 20px;
  }
  .nav-link {
    font-size: 20px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 1171px) {
  .logo {
    margin-right: 18px;
  }
  .nav-link {
    font-size: 18px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 991px) {
  .nav {
    display: block;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ri-menu-3-line {
    font-size: 22px;
    font-weight: bold;
  }
  .glass{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .dropdown{
    flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media only screen and (max-width: 698px) {
  .txt-home {
    margin-top: 80px;
  }

  .titre-home {
    margin-bottom: 30px;
    max-width: 500px;
  }

  .titre-home h1 {
    font-size: 50px;
  }
  .para-home {
    margin-bottom: 40px;
  }
  .para-home P {
    font-size: 25.2px;
  }
  .metteo .gap {
    gap: 20px;
  }
}

@media only screen and (max-width: 299px) {
.metteo{
  margin-top: 40px;
}
}
